*{
    padding: 0;
    margin: 0;
}

h1{
    border: solid 40px red;
    border-bottom: dashed 2px blue;
    border-radius: 10px;
    text-align: center;
    height: 100px;
    width: 500px;
    padding: auto;
    margin: auto;

}

img{
    width: 300px;
    margin-left: 17px ;
    margin-top: 20px;
}

h2{
 position: absolute;
 top: 150px;
 left: 325px;
}

#dadospessoais{
    position: absolute;
    top: 150px;
    left: 247px;
}

ul{
    position: absolute;
    top: 185px;
    left: 242px
}


li{
    color: red;
}